nav .item {
  @apply text-white transition-all font-medium cursor-pointer p-4;
}

nav .item:hover {
  @apply text-sky-500;
}

.header-container {
  animation: nav-transparence 1s linear both;
  animation-timeline: scroll();
  animation-range: 0 100px;
}

@keyframes nav-transparence {
  to {
    @apply shadow-lg ring-1 backdrop-blur dark:bg-gray-800/90 bg-white/30 ring-white/10;
  }
}
.mobile-header {
  display: none;
}

@media (max-width: 640px) {
  nav {
    display: none;
  }
  .header-container {
    justify-content: end;
    animation: none;
    @apply rounded-lg;
  }

  .mobile-header {
    @apply absolute top-0 right-0 h-screen justify-start bg-slate-700 flex-col gap-2 pt-16 pb-6 pr-8 text-end text-2xl rounded-lg z-10;
  }
}
